.about-section {
  margin: 5rem 0;
  padding-top: 4rem;
  max-width: 100%;
}

.section-header {
  margin-left: 23rem;
  font-size: 2rem;
  position: relative;
  width: fit-content;
}

.section-header::after {
  content: '';
  height: 0.1rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: backgroundColorChange 15s infinite;
}

.about-content {
  display: flex;
  font-size: 2rem;
  padding: 1rem;
  max-width: 60%;
  margin-left: 22rem;
}

.about-content p {
  display: flex;
  flex-direction: column;
}

.about-content h3 {
  margin-top: 2rem;
  color: rgb(114, 114, 240);
  display: flex;
  justify-content: center;
  position: relative;
}

.about-content ul {
  font-size: 1.25rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}

.skills div {
  width: 50%;
}

.skills h4 {
  color: rgb(114, 240, 141);
  text-align: center;
}

.skills ul {
  text-align: center;
}

.about-image {
  max-width: 16rem;
  max-height: 20rem;
  opacity: 35%;
  border-radius: 1rem;
  transition: 300ms;
  margin-left: 2rem;
}

.about-image:hover {
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  .about-section {
    margin: 0;
    padding-top: 4rem;
  }

  .section-header {
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .about-content {
    margin-left: 0rem;
    font-size: 1.2rem;
    flex-direction: column;
    min-width: 100%;
    padding: 0.1rem;
    flex-wrap: wrap;
  }

  .about-content h5 {
    font-size: 1rem;
    max-width: 80%;
  }

  .about-image {
    opacity: 1;
    margin: auto;
    margin-top: 1rem;
  }
}
