.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 75%;
  margin: auto;
}

.card{
  background-color: rgb(49, 49, 53);
  border-radius: .25rem;
  overflow: hidden;
}

.card-image {
  overflow: hidden;
}

.card-image .image{
  width: 35rem;
  border-radius: .25rem;
  transition: 300ms all ease-in-out;
}

.card:hover .image{
  transform: scale(1.1);
}

.card-deploy {
  font-size: 1.2rem;
  color: rgb(137, 137, 148);
  text-decoration: underline;
}

.card-deploy:hover {
  color: rgb(114, 114, 240);
}

.card-footer {
  margin: 1rem .5rem;
  position: relative;
}

.card-footer .card-tech {
  font-size: 1rem;
  position: absolute;
  top: -1.8rem;
  color: rgb(75, 204, 75);
  font-weight: bold;
}

.card-footer h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.card-links {
  display: flex;
}

.card-github {
  margin-left: auto;
  font-size: 1.2rem;
  color: rgb(137, 137, 148);
  text-decoration: underline;
}

.card-github:hover {
  color: rgb(114, 114, 240);
}

@media screen and (max-width: 1600px){
  .card-wrapper {
    max-width: 90%;
  }
  .card-footer .card-tech {
    font-size: .9rem;
  }
  .card-footer h4 {
    font-size: 1.2rem;
  }
  
}