.section-wrapper {
  margin: 2rem 10rem;
  padding-top: 4rem;
}

.section-title {
  margin-left: 13rem;
  margin-bottom: .5rem;
}

.section-wrapper span {
  font-size: 1.25rem;
  color: rgb(149, 151, 153);
}

.project-section-header{
  font-size: 2rem;
  position: relative;
  width: fit-content;
}

.project-section-header::after{
  content: '';
  height: .1rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: backgroundColorChange 15s infinite;
}

@media screen and (max-width: 1600px){
  .section-wrapper {
    margin: 1rem 0;
    padding-top: 4rem;
  }
  
  .section-title {
    margin-left: 0;
    margin-bottom: .5rem;
    text-align: center;
  }

  .project-section-header{
    font-size: 2rem;
    margin: auto;
    position: relative;
    width: fit-content;
  }
}