.footer { 
  background-color: rgb(27, 27, 29);
}

.footer-content{
  min-height: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-credit {
  margin-left: auto;
  font-size: 1.25rem;
}

.footer-links {
  margin-left: auto;
  font-size: 1.25rem;
  margin-right: auto;
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.link-item{
  position: relative;
}

.link-item:hover {
  cursor: pointer;
  transition: 300ms;
  color: rgb(114, 114, 240);
}

.link-item::after {
  content: "";
  position: absolute;
  left: -.75rem;
  height: 100%;
  width: .1rem;
  background-color: white;
  transform-origin: center;
  transform: scale(0);
  transition: 300ms;
}

.link-item:hover::after {
  transform: scale(1);
  background-color: rgb(114, 114, 240);
}