.footer {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(27, 27, 29);
}

.footer-content img{
  filter: invert(91%) sepia(9%) saturate(157%) hue-rotate(340deg) brightness(94%) contrast(92%);
  margin: 0 1.2rem;
}

.footer-content img:hover {
  filter: invert(45%) sepia(46%) saturate(854%) hue-rotate(202deg) brightness(98%) contrast(92%);
}
